---

- name: Wait until {{ prop_installipaddress }} started 
  wait_for:
    port: 22
    host: '{{ prop_installipaddress }}'
    search_regex: OpenSSH
    delay: 1
    timeout: 300
  connection: local
  become: false

- name: Pause
  ansible.builtin.pause:
    seconds: 20
  connection: local
  become: false
