---

- name: Wait until {{ prop_ipaddress }} started 
  wait_for:
    port: 22
    host: '{{ prop_ipaddress }}'
    search_regex: OpenSSH
    delay: 1
    timeout: 300
  connection: local
  become: false

- ansible.builtin.include_role: # knownoshost
    name: alex.base.knownoshost

- name: Wait until {{ prop_ipaddress }} SSH started
  wait_for_connection:
    connect_timeout: 20
    sleep: 5
    delay: 5
    timeout: 300
  vars:
    ansible_connection: ssh
    ansible_host: "{{ prop_ipaddress }}"
  become: true

