---

- name: "Playbook: Test Roles"
  hosts: "{{ args_host }}"
  gather_facts: false

  vars_files:
    - /etc/ansible/inventory/vars.yml

  tasks:
    - ansible.builtin.include_role: # knownproxmoxhost
        name: alex.base.knownproxmoxhost

    - ansible.builtin.include_role: # knowninstallhost
        name: alex.base.knowninstallhost

    - ansible.builtin.include_role: # waitinstallstarted
        name: alex.base.waitinstallstarted
